{:source-paths ["src/main" "src/test"]
 :dependencies [[reagent "2.0.1"]]
 :dev-http {8020 "public"}
 :builds
 {:popup
  {:target :browser
   :devtools {:enabled false :use-document-host false}
   :output-dir "public/js"
   :asset-path "js"
   :modules {:popup {:init-fn pangoflow.app.popup/init}}}

  :dashboard
  {:target :browser
   :devtools {:enabled false :use-document-host false}
   :output-dir "public/js"
   :asset-path "js"
   :modules {:dashboard {:init-fn pangoflow.app.dashboard/init}}}

  :background
  {:target :browser
   :devtools {:enabled false :use-document-host false}
   :output-dir "public/js"
   :asset-path "js"
   :modules {:background {:init-fn pangoflow.app.background/init}}}

  :test
  {:target :node-test
   :output-to "target/test.js"
   :ns-regexp "pangoflow\\..*-test$"}}}
